@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
/* @theme {
  --font-sans: sans-serif "'JetBrains Mono', Consolas, 'Courier New', monospace";
} */
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-Urbanist: "Urbanist", sans-serif;
}

:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --main-color: #535bf2;
  --text-color: #003b99;
  --supporting-color: #ebf3fe;
  --glow-color: hsl(186, 91%, 4%);
}
*{
  /* font-family: "Urbanist", sans-serif; */

}
.custom-shape-divider-bottom-1763294199 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    border: none !important;

  }
  
  .custom-shape-divider-bottom-1763294199 svg {
    position: relative;
    /* display: block; */
    line-height: 0;
    width: calc(124% + 1.3px);
    height: 237px;
  
}

.custom-shape-divider-bottom-1763294199 .shape-fill {
    fill: #FFFFFF;
}
@layer utilities {
 @keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-70%);
  }
  to{
    opacity: 100;
    transform: translateX(0);
  }
 }
}
.animate-slide-left{
    animation: slideInLeft 0.5s ease-out forwards;
}
@layer utilities {
 @keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0);
    
  }
  to{
    opacity: 100;
  }
 }
}
.animateZoomIn{
  animation: zoomIn 0.8s ease-out forwards;
}